<%- include("partials/header") -%>
<h1>Home</h1>

<p><%= homeParagraph %></p>             <!--Navngir EJS elementet som jeg skal referere til i app.js for å displaye homeStartingContent som eksisterer i app.js| key i {key: value} -->


<% homePosts.forEach(function(post) { %>
    <h1><%= post.title %></h1>
    <p>
    <%= post.content.substring(0, 100) + " ..." %>
    <a href="/posts/<%=post.title%>">Read More</a>
    </p>
<% }); %>


<%- include("partials/footer") -%>